<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mysql.accessLogMapper">
	<resultMap id="RM_selectWithLastOneMonth" type="AccessLog">
		<result property="ip"			column="IP" />
		<result property="path"			column="PATH" />
		<result property="params"		column="PARAMS" />
		<result property="userAgent"	column="USER_AGENT" />
		<result property="referer"		column="REFERER" />
		<result property="accessTime"	column="ACCESS_TIME" />
	</resultMap>
	
	<select id="selectWithLastOneMonth" resultMap="RM_selectWithLastOneMonth">
		select IP,
			   PATH,
			   PARAMS,
			   USER_AGENT,
			   REFERER,
			   ACCESS_TIME
		  from ACCESS_LOG
	</select>
</mapper>